<nav class="navbar navbar-webmaster">
        <div class="container">
          <div class="navbar-header">
         
          <a class="navbar-brand" href="/">discord.org.in</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">

    

            <li class="active"><a href="">Discord<span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="/archive">Discord Özel Linkler<span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="/about">Hakkımızda<span class="sr-only">(current)</span></a></li>
            </ul>
         </div>
      </div>
      </nav>