<html>
  <html lang="en">
  <head>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/710753344154763264/747050206813749348/mb_yeni_logo.png">
    <title>MaximusBoys Kod Paylaşım</title>
    <link rel="stylesheet" href="html/css/sa.css">
  </head>
  <body>

  <meta charset="UTF-8">
  
<div class="alert alert-danger" role="alert">
<center><marquee behavior=alternate>Sitede Emeği Geçen Herkese Çok Teşekkürler!</marquee></center>
</div>

 <center>
<div class="jumbotron bg-info">
<h2>
  

  
<html>
<head>
<style>
body {
background-color: #ff0000
}
</style>
</head>
</html>

  <h1 class="display-4" style="color:#f3f3f3;">MaximusBoys Özel URL Sistemi</h1>
  <hr style="color:#f3f3f3;"class="my-4">
<h4>
  <p style="color:#f3f3f3;">Discord Sunucumuza Katılmayı Unutmayın!</p>
  </h4>
<center>


  <a class="btn btn-info btn-lg" style=" background-color:#00daea;"  href="https://discord.gg/maximusboys" role="button">MaximusBoys</a>

  <a class="btn btn-info btn-lg" style=" background-color:#00daea;"  href="https://discord.gg/2U6qFwR" role="button">Discord</a>
  </center>
<h1>
  
  <p style="color:BLACK;">Hakkımızda</p>
  </h1>
<h4>
  <p style="color:DARKBLUE;">Biz MaximusBoys Ekibi Olarak Sizlere En İyi Şekilde Discord Sunucularına Destek Sağlıyoruz!</p>
  </h4>
<h1>
  <p style="color:BLACK;">Kurucular</p>
  </h1>
<h4>
  <p style="color:#ff0000;">Asreaper</p>
  <p style="color:#ff0000;">DumPS</p>
  </h4>
  </h2>
   </div>
  </center>
</html>