<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

      <link rel="icon" href="https://cdn.discordapp.com/attachments/710753344154763264/747050206813749348/mb_yeni_logo.png">

  
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!--Navigation bar-->    
<% include ./includes/navbar.ejs %>
</head>
<h1 style="text-align: center">404 Hata</h1>

<h3 style="text-align: center">Yanlış Bir Sayfaya Girdiniz Veya Bu Sayfayı Bulamadım ... Link Kısaltma Servisi</h3>
<body>
    
</body>

</html>