<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


  <!--Navigation bar-->
  <% include ./includes/navbar.ejs %>
<div class="alert alert-danger" role="alert">
<center><marquee behavior=alternate>Nasıl Yapacağınızı Bilmiyorsanız En Aşağıdaki Videoyu İzleyebilirsiniz!</marquee></center>
</div>  
  
      <link rel="icon" href="https://cdn.discordapp.com/attachments/710753344154763264/747050206813749348/mb_yeni_logo.png">


<html>
<head>
<style>
body {
background-color: #3f37a8
}
</style>
</head>
</html>

</head>
<body>
<center>

 


  
  
  <div class="col-lg-offset-4 col-lg-4" id="panel">


      <form action="/shorten" method="POST">
        <br><br><br>
        <div class="group">
          <center><input type="text" required name="longurl" autocomplete="off">  </center>
          <center>  <span class="highlight"></span> </center>
            <span class="bar"></span>

          
          <center>  <label>..................................................................<input type="text" name="findbase" value="findbase" readonly="readonly"></label> </center>
       </div>
         


<!-- To get current hostname for base URL -->
<script type="text/javascript">
  document.getElementsByName("findbase")[0].value = window.location.href;
</script>
          <div class="group">
              <center> <button type="submit" class="btn btn-warning">Gönder</button></center>
          </div>
      </form>

    
    
    
  </div>
</body>

</html>

